body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  border-bottom: 2px solid orange;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: crimson;
}

input {
  display: block;
}

img {
  max-width: 300px;
}

h1 {
  padding: 0px;
  color: black;
  float: center;
  border-radius: 5px;
  text-align: center;
  border-bottom: 4px solid rgb(255, 165, 0);
}

p {
  padding-bottom: 8%;
}

div.button-group button {
  background-color: yellow;
  font-size: large;
  border-radius: 6px;
  border-width: 3px;
}
